.nav {
  height: 100%;
  &__list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }

  &__item {
    height: 100%;
    opacity: 0.3;
    &-active {
      opacity: 1;
    }
  }

  &__link {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95px;
    background-color: #1e88e5;
    text-decoration: none;
    color: #ffffff;
    &::before {
      content: '';
      display: block;
      width: 20px;
      height: 20px;
      background-color: #fff;
      border-radius: 50%;
      margin-bottom: 5px;
    }
  }
}

.header__nav {
  margin-right: auto;
  margin-left: 200px;
  background-color: #2196f3;
}
